@import "tailwindcss";

@theme {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.bg-twitch-gradient {
  @apply bg-gradient-to-br from-[#772CE8] via-[#478CD6] to-[#00C7AC];
}

.bg-purple-gradient {
  @apply bg-gradient-to-br from-[#772CE8] to-[#9146FF];
}
